/*

!/routes/

/routes/*
!/routes/web.php

!/database

/database/migrations/*
!/database/migrations/1_create_clients_table.php
!/database/migrations/2_create_products_table.php
!/database/migrations/3_create_bookings_table.php
!/database/factories/*
!/database/seeders/*
/database/.gitignore
database/factories/UserFactory.php

!/app/
/app/Models/*
!/app/Models/Booking.php
!/app/Models/Client.php
!/app/Models/Product.php

/app/Http/Controllers/*
!/app/Http/Controllers/BookingController.php

/app/Http/Middleware/*
!/app/Http/Middleware/VerifyCsrfToken.php

/app/Http/Kernel.php
/app/Console
/app/Exceptions
/app/Providers

!/.gitignore
